<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} – %-5level %logger{36} – %msg%n</pattern>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- path to your log file, where you want to store logs -->
        <file>ipsm-core.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} – %-5level %logger{36} – %msg%n</pattern>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <!--<logger name="eu.interiot.ipsm.core" level="WARN"/>-->
    <!--<logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>-->

    <root level="ERROR">
         <appender-ref ref="STDOUT" />
    </root>
</configuration>
